.dxp-form {
    margin-bottom: 2rem;
}

hr {
    margin: 2rem 0;
}

.title-dxp {
    font-weight: bold;
}

.content-dxp {
    font-size: 1.25rem;
    font-weight: 600;
}

.dxp {
    margin-bottom: 2rem;
}

.dxp-version {
    margin-right: 123px;
}