.home {
    gap: 48px;
}

// project-card

.project-card {
    height: 248px;
    width: 528.5px;
    border: 0.125rem solid #E0EBFA;
    border-radius: 0.5rem;
    box-shadow: none;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;

    &.sm {
        height: 112px;
        width: 468px;
    }

    &:hover {
        box-shadow:  0 10px 30px rgba(11,95,255,0.09);
        border-color: white;

        .btn, button {
            opacity: 1;
        }
    }

    .btn, button {
        height: fit-content;
        font-weight: 600;
        line-height: 24px;
        transition: opacity 0.2s;
        opacity: 0;
    }

    .card-body {
        line-height: 1rem;
        font-size: 0.813rem;
        color: #898593;
        padding: 2.5rem 2rem;

        .info-project {
            line-height: 13px;

            &.sm {
                text-align: end;
            }
        }

        &.sm {
            padding: 1.5rem;
        }

        .info-date {
            margin-top: 8px;
            margin-bottom: 8px;

            &.sm {
                margin-top: 2px;
                margin-bottom: 2px;
            }

            .end-date {
                font-size: 1rem;
                line-height: 1.5rem; 
            }
        }
    }
}

// global

* {
    font-family: Source Sans Pro;
}

.label {
    padding: 0.125rem 0.5rem;
    font-size: 0.813rem;
    line-height: 16px;

    &.label-success {
        color: #4AAB3B;
        background-color: #EEF8EC;
        border-radius: 0.25rem;
    }
}

h3, .h3 {
    color: #5A5469 !important;
    font-size: 1.75rem !important;
    font-weight: 700 !important;
    line-height: 32px !important;
}

h4, .h4 {
    color: #5A5469 !important;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    line-height: 28px !important;
}