.invites-form {
    height: 355px;
    padding-bottom: 15px;
    padding-left: 31px;
    padding-right: 31px;

    &.pr-overflow {
        padding-right: 17px;
    }

    .form-control {
        width: 15.75rem !important;
    }

    .input-group:not(:last-child) {
        margin-bottom: 2rem;
    }

    .input-group-item {
        height: 4.75rem;

        &:last-child {
            margin-left: 32px;
        }
    }

    .add-button {
        font-size: 14px !important;
        line-height: 16px;
        border: none !important;
        padding: 8px 12px !important; 
    }
}