@import url("@clayui/css/lib/css/atlas.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

@import "./components/shared/layout/_header.scss";
@import "./components/shared/layout/_footer.scss";
@import "./components/shared/layout/_layout.scss";
@import "./components/shared/components/_buttons.scss";
@import "./onboard/_dxp.scss";
@import "./onboard/_invites.scss";