@import "@clayui/css/lib/css/atlas";

@import 'typographs';

// Components
@import 'buttons';
@import 'radios';

* {
    font-family: "Source Sans Pro";
    margin: 0;
    padding: 0;
}

.rounded {
    border-radius: 0.5rem !important;
}