@import 'variables';

h2, .h2 {
    font-size: $h2-size;
    line-height: 40px;
    color: $black;
}

p {
    font-size: $p-size;
    line-height: 24px !important;
    color: $neutral2;
}


ul {
    padding-inline-start: 26px;
    color: $neutral2;
}

li {
    line-height: 24px;
}