// Typographs
$h1-size: var(--h1-size, 2.688rem);
$h2-size: var(--h2-size, 2rem);

$p-size: var(--p-size, 1rem);

$greetings-size: var(--greetings-size, 0.875rem);
$helper-size: var(--helper-size, 0.813rem);

// Colors
$black: var(--black, #1D1C21);

$neutral2: var(--neutral-2, #3F3851);
$neutral3: var(--neutral-3, #5A5469);

// Square Radio Group
$radio-group-label-size: var(--radio-group-label-size, 1rem);