@import '../../../../../../shared/styles/variables';

header {
  .greetings {
    font-size: $greetings-size;
    line-height: 20px;
    letter-spacing: 0.05em;
  }
  
  .helper {
    font-size: $helper-size;
    line-height: 16px;
    color: $neutral3;
  }
}