.badge {
    align-items: center;
    align-self: stretch;
    background: #FFE4DC;
    border-radius: 8px;
    border: none;
    bottom: -28px;
    color:#EA6136;
    display:flex;
    fill: rgb(233, 94, 14);
    flex-direction: row;
    flex-grow: 0;
    flex: none;
    font-family: "Source Sans Pro";
    font-size: 13px;
    font-weight: 500;
    gap: 0.5rem;
    height: 2rem;
    justify-content: flex-start;
    margin: 5px 0px;
    order: 0;
    padding: 15px 8px 6px 16px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.badgeIcon{
    width: 1rem;
}